.footer {
  background-color: #f7f7f7;

  &__header {
    width: 100%;
    background-color: #f0f0f0;
    padding: 15px 0;
    ul {
      display: flex;
      margin-left: 35px;
      li {
        padding: 20px;
        i {
          font-size: 30px;
        }
      }
    }
  }
  .wrapper {
    padding: 0 40px;
    margin: 0 20px;
  }
  &__main {
    &-content {
      background-image: url(https://www.starbucks.vn/assets/images/wordmark_footer.png);
      background-repeat: no-repeat;
      background-position: 98.5% 0;
      background-size: 16px;
      min-height: 166px;
      display: flex;
      margin-top: 50px;
      .block {
        padding: 20px 0;
        padding-right: 40px;

        &__title {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
  &__bottom {
    &-content {
      .site__selection {
        display: flex;

        padding: 5px 0;
        &-list {
          border-right: 1px solid #b3b3b3;
          display: inline-block;
          font-size: 1em;
          padding: 0 0.75em 0 0;
          margin: 5px 0;
        }
        &-lang {
          padding: 0 10px;
          margin: 7px 0;
          p{
            font-size: 14px;
          }
        }
      }
    }
    &-sub{
      .row__sub{
        display: flex;
        &-item{
          padding: 0 7px;
          border-right: 1px solid #b3b3b3;
          a{
            color: #666666;
            &:hover{
              color: #8c8c8c;
            }
          }
          
        }
      }
    }
    &-credit{
      padding: 20px 0;
      p{
        font-size: 10px;
        color: #666666;
      }
    }
  }
}
