@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import './tailwind.css';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Plus Jakarta Sans", "Sacramento", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

li {
  list-style: none;
}

a {
  color: black;
  font-size: 14px;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: black;
}

.breadcrumb {
  background-color: #fff;
  color: #53534a;
  font-size: 14px;
  padding: 0 15px;
}

.wrapper {
  margin: 0 40px;
  padding: 32px 40px;
}

.header {
  padding: 15px 0;
  display: flex;
  max-width: 1360px;
  justify-content: space-between;
}
.header__left {
  display: flex;
}
.header__left-nav {
  margin-top: 28px;
  margin-left: 26px;
}
.header__left-nav ul {
  display: flex;
  cursor: pointer;
}
.header__left-nav ul a {
  color: black;
  padding: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.header__right-icon {
  color: #006340;
  margin-right: 11px;
}
.header__right-looking a {
  color: #5b5959;
  text-decoration: none;
}
.header__right-looking a:hover {
  color: #006340;
}

.footer {
  background-color: #f7f7f7;
}
.footer__header {
  width: 100%;
  background-color: #f0f0f0;
  padding: 15px 0;
}
.footer__header ul {
  display: flex;
  margin-left: 35px;
}
.footer__header ul li {
  padding: 20px;
}
.footer__header ul li i {
  font-size: 30px;
}
.footer .wrapper {
  padding: 0 40px;
  margin: 0 20px;
}
.footer__main-content {
  background-image: url(https://www.starbucks.vn/assets/images/wordmark_footer.png);
  background-repeat: no-repeat;
  background-position: 98.5% 0;
  background-size: 16px;
  min-height: 166px;
  display: flex;
  margin-top: 50px;
}
.footer__main-content .block {
  padding: 20px 0;
  padding-right: 40px;
}
.footer__main-content .block__title {
  font-size: 16px;
  font-weight: 600;
}
.footer__bottom-content .site__selection {
  display: flex;
  padding: 5px 0;
}
.footer__bottom-content .site__selection-list {
  border-right: 1px solid #b3b3b3;
  display: inline-block;
  font-size: 1em;
  padding: 0 0.75em 0 0;
  margin: 5px 0;
}
.footer__bottom-content .site__selection-lang {
  padding: 0 10px;
  margin: 7px 0;
}
.footer__bottom-content .site__selection-lang p {
  font-size: 14px;
}
.footer__bottom-sub .row__sub {
  display: flex;
}
.footer__bottom-sub .row__sub-item {
  padding: 0 7px;
  border-right: 1px solid #b3b3b3;
}
.footer__bottom-sub .row__sub-item a {
  color: #666666;
}
.footer__bottom-sub .row__sub-item a:hover {
  color: #8c8c8c;
}
.footer__bottom-credit {
  padding: 20px 0;
}
.footer__bottom-credit p {
  font-size: 10px;
  color: #666666;
}

.cardHeader__logo-img {
  width: 138px;
}
.cardHeader__navbar-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrapper {
  padding-top: 20px;
}

.banner {
  background-image: url(../../../../assets/img/autumn-carosel.jpg);
  background-position: center;
  height: 560px;
}

.espresso {
  padding: 70px 0;
}
.espresso__content {
  margin-top: 60px;
}
.espresso__content-title {
  font-size: 2.4rem;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.espresso__content-body {
  font-size: 17px;
  font-style: italic;
  font-weight: bolder;
  margin-bottom: 18px;
}
.espresso__content-more {
  font-weight: bolder;
  border-bottom: 1px dotted;
}

.opportunity {
  padding: 70px 0;
}
.opportunity__content {
  margin-top: 60px;
}
.opportunity__content-title {
  font-size: 2.4rem;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.opportunity__content-body {
  font-size: 17px;
  font-style: italic;
  font-weight: bolder;
  margin-bottom: 18px;
}
.opportunity__content-more {
  font-weight: bolder;
  border-bottom: 1px dotted;
}

.banner__coffee {
  background-image: url(../../../../assets/img/fy19-summer-1_tcm89-50260.jpg);
  background-position: top center;
  height: 560px;
}

.findCoffee {
  background-image: url(https://www.starbucks.vn/assets/images/Coffee-Finder-Background_tcm89-3968.png);
  background-position: center top;
  padding: 70px 0;
}
.findCoffee__content {
  margin-top: 60px;
}
.findCoffee__content-title {
  font-size: 2.4rem;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.findCoffee__content-body {
  font-size: 17px;
  font-style: italic;
  font-weight: bolder;
  margin-bottom: 18px;
}
.findCoffee__content-more {
  font-weight: bolder;
}
.findCoffee__content-more a {
  border-bottom: 1px dotted;
  font-style: italic;
}

.coffeeBottle {
  background-image: url(https://www.starbucks.vn/assets/images/bg-how_to_brew-mobile.jpg);
  min-height: 520px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% top;
  color: white;
  position: relative;
}
.coffeeBottle .wrapper {
  padding: 40px 60px;
}
.coffeeBottle__content h2 {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bolder;
  margin: 15px 0;
}
.coffeeBottle__content h1 {
  font-size: 42px;
  font-weight: bolder;
  letter-spacing: 2px;
  margin: 15px 0;
}
.coffeeBottle__content-body {
  letter-spacing: 1.5px;
  font-size: 18px;
}
.coffeeBottle__feature {
  position: absolute;
  display: flex;
  bottom: 0;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.coffeeBottle__feature .card__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 0 20px;
}
.coffeeBottle__feature .card__item a {
  color: white;
  font-size: 50px;
  margin-bottom: 10px;
}
.coffeeBottle__feature .card__item p {
  text-transform: uppercase;
  font-size: 15px;
}

.menu .articleBlock {
  padding-top: 32px;
}
.menu .articleBlock__title {
  font-size: 30px;
  margin-bottom: 25px;
}
.menu .articleBlock__body {
  font-size: 24px;
}
.menu .articleBlock__img {
  margin-bottom: 25px;
}
.menu .articleBlock__bottom {
  font-size: 14px;
  margin-bottom: 25px;
}
.menu .articleMenu__item {
  padding: 0 20px;
}
.menu .articleMenu__item-title {
  font-size: 26px;
  font-weight: bolder;
  color: #2a8a15;
}
.menu .articleMenu__item-title:hover {
  background-color: #2a8a15;
  color: white;
}
.menu .articleMenu__item-body {
  margin-bottom: 25px;
  font-size: 14px;
}
.menu .articleMenu__item-more {
  color: #2a8a15;
  font-size: 14px;
}
.menu .articleMenu__item-more:hover {
  background-color: #2a8a15;
  color: white;
}

.shops__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}
.shops__img {
  margin-bottom: 25px;
}
.shops__article {
  padding: 0 20px;
}
.shops__article-head a {
  font-size: 24px;
  font-weight: bold;
  color: #2a8a15;
}
.shops__article-head a:hover {
  background-color: #2a8a15;
  color: white;
}
.shops__article-body {
  font-size: 14px;
  margin-bottom: 25px;
}
.shops__article-more {
  margin-bottom: 25px;
}
.shops__article-more span {
  font-size: 14px;
}
.shops__article-more a {
  color: #2a8a15;
  font-size: 14px;
}
.shops__article-more a:hover {
  background-color: #2a8a15;
  color: white;
}

.duties__article h1 {
  font-size: 30px;
  margin-bottom: 24px;
}
.duties__article h2 {
  font-size: 24px;
  margin-bottom: 12px;
}
.duties__article-img {
  margin-bottom: 25px;
}
.duties__article-body {
  font-size: 14px;
  margin-bottom: 25px;
}
.duties__block-item .title a {
  color: #2a8a15;
  font-size: 24px;
  font-weight: bold;
}
.duties__block-item .title a:hover {
  background-color: #2a8a15;
  color: white;
}
.duties__block-item .paragraph {
  font-size: 14px;
  margin-bottom: 25px;
}
.duties__block-item .list__item a {
  color: #2a8a15;
}
.duties__block-item .list__item a:hover {
  background-color: #2a8a15;
  color: white;
}

.aboutUs__left h1 {
  font-size: 30px;
}
.aboutUs__left h2 {
  font-size: 25px;
}
.aboutUs__left-body p {
  font-size: 14px;
  margin-bottom: 25px;
}
.aboutUs__left-body p a {
  color: #2a8a15;
  font-size: 14px;
}
.aboutUs__left-body p a:hover {
  background-color: #2a8a15;
  color: white;
}
.aboutUs__right-sidebar {
  background-color: black;
  padding: 16px 12px;
}
.aboutUs__right-sidebar h3 a {
  color: #2a8a15;
  font-size: 22px;
}
.aboutUs__right-sidebar h3 a:hover {
  background-color: #2a8a15;
  color: white;
}
.aboutUs__right-sidebar ul li {
  margin-bottom: 10px;
}
.aboutUs__right-sidebar ul li a {
  color: white;
  font-size: 14px;
}
.aboutUs__right-sidebar ul li a:hover {
  background-color: #2a8a15;
}/*# sourceMappingURL=index.css.map */