.banner__coffee {
  background-image: url(../../../../assets/img/fy19-summer-1_tcm89-50260.jpg);
  background-position: top center;
  height: 560px;
}
.findCoffee {
  background-image: url(https://www.starbucks.vn/assets/images/Coffee-Finder-Background_tcm89-3968.png);
  background-position: center top;
  @apply mx-10 px-5 py-16 flex gap-16;
  &__content {
    @apply mt-16 flex-1;
    &-title {
      font-size: 24px;
      font-weight: bolder;
      text-transform: uppercase;
      margin-bottom: 18px;
    }
    &-body {
      font-size: 17px;
      font-style: italic;
      font-weight: bolder;
      margin-bottom: 18px;
    }
    &-more {
      font-weight: bolder;
      a {
        border-bottom: 1px dotted;
        font-style: italic;
      }
    }
  }
  &__img {
    @apply flex-1;
  }
}
.coffeeBottle {
  background-image: url(https://www.starbucks.vn/assets/images/bg-how_to_brew-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% top;
  color: white;
  padding: 20px;

  &__content {
    @apply mx-10 px-5 py-5;
    width: 650px;
    h2 {
      font-size: 18px;
      letter-spacing: 2px;
      font-weight: bolder;
    }
    h1 {
      font-size: 40px;
      font-weight: bolder;
      letter-spacing: 2px;
      margin: 15px 0;
    }
    &-body {
      letter-spacing: 1.5px;
      font-size: 18px;
    }
  }
  &__feature {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    .card__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      text-align: center;
      padding: 0 20px;
      a {
        color: white;
        font-size: 50px;
        margin-bottom: 10px;
      }
      p {
        text-transform: uppercase;
        font-size: 15px;
      }
    }
  }
}

@media all and (max-width: 390px) {
  .findCoffee {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    // padding: 20px;
    @apply mx-0 px-5 py-5 gap-0 ;
    &__content {
      @apply my-4;
      text-align: center;
      &-title {
        word-spacing: 1px;
        font-size: 24px;
      }
      &-body {
        font-size: 14px;
      }
      &-more {
      }
    }
  }
  .coffeeBottle {
    @apply mx-0 px-5 py-8;
    background-image: none;
    background-color: #1b1f23;
    padding-left: 20px;
    &__content {
      @apply mx-0 p-0;
      width: 100%;
      h2 {
        font-size: 14px;
      }
      h1 {
        font-size: 24px;
      }
      &-body {
        letter-spacing: 1.5px;
        font-size: 14px;
      }
    }
    &__feature {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-top: 35px;
      padding-bottom: 10px;
      .card__item {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
        padding: 0;
        a {
          color: white;
          font-size: 30px;
          margin-bottom: 10px;
        }
        p {
          text-transform: uppercase;
          font-size: 15px;
        }
      }
    }
  }
}
@media all and (max-width: 768px) and (min-width: 391px) {
  .findCoffee {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    // padding: 20px;
    @apply mx-0 px-5 py-5 gap-0 ;
    &__content {
      @apply my-4;
      text-align: center;
      &-title {
        word-spacing: 1px;
        font-size: 24px;
      }
      &-body {
        font-size: 14px;
      }
      &-more {
      }
    }
  }
  .coffeeBottle {
    @apply mx-0 px-5 py-8;
   
    background-image: none;
    background-color: #1b1f23;
    &__content {
      @apply mx-0 p-0;
      width: 100%;
      h2 {
        font-size: 14px;
      }
      h1 {
        font-size: 24px;
      }
      &-body {
        letter-spacing: 1.5px;
        font-size: 14px;
      }
    }
    &__feature {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-top: 35px;
      padding-bottom: 10px;
      .card__item {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
        padding: 0;
        a {
          color: white;
          font-size: 30px;
          margin-bottom: 10px;
        }
        p {
          text-transform: uppercase;
          font-size: 15px;
        }
      }
    }
  }
}
@media all and (max-width: 1024px) and (min-width: 769px) {
  .findCoffee {
   @apply flex flex-row mx-0 px-5 py-5 gap-0 ;
    
  
    &__content {
      @apply my-4 flex-1;
      // text-align: center;
      &-title {
        word-spacing: 1px;
        font-size: 24px;
      }
      &-body {
        font-size: 14px;
      }
      &-more {
      }
    }
    &__img{
      @apply flex-1 ;
    }
  }
  .coffeeBottle {
    @apply mx-0 px-5 py-8;
    background-image: url(https://www.starbucks.vn/assets/images/bg-how_to_brew-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% top;
    color: white;
    padding-left: 20px;
    &__content {
      @apply mx-0 p-0;
      width: 1/2;
      h2 {
        font-size: 14px;
      }
      h1 {
        font-size: 24px;
      }
      &-body {
        letter-spacing: 1.5px;
        font-size: 14px;
      }
    }
    &__feature {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 70px;
      .card__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
        padding: 0 20px;
        a {
          color: white;
          font-size: 30px;
          margin-bottom: 10px;
        }
        p {
          text-transform: uppercase;
          font-size: 9px;
        }
      }
    }
  }
}
