.banner__coffee {
  background-image: url(../../../../assets/img/fy19-summer-1_tcm89-50260.jpg);
  background-position: top center;
  height: 560px;
}
.findCoffee {
  background-image: url(https://www.starbucks.vn/assets/images/Coffee-Finder-Background_tcm89-3968.png);
  background-position: center top;
  padding: 70px 0;
  &__content {
    margin-top: 60px;
    &-title {
      font-size: 2.4rem;
      font-weight: bolder;
      text-transform: uppercase;
      margin-bottom: 18px;
    }
    &-body {
      font-size: 17px;
      font-style: italic;
      font-weight: bolder;
      margin-bottom: 18px;
    }
    &-more {
      font-weight: bolder;
      a {
        border-bottom: 1px dotted;
        font-style: italic;
      }
    }
  }
}
.coffeeBottle {
 
  background-image: url(https://www.starbucks.vn/assets/images/bg-how_to_brew-mobile.jpg);
  min-height: 520px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% top;
  color: white;
  position: relative;
  &__content {
    h2 {
      font-size: 18px;
      letter-spacing: 2px;
      font-weight: bolder;
      margin: 15px 0;
    }
    h1 {
      font-size: 42px;
      font-weight: bolder;
      letter-spacing: 2px;
      margin: 15px 0;
    }
    &-body {
      letter-spacing: 1.5px;
      font-size: 18px;
    }
  }
  &__feature {
    position: absolute;
    display: flex;
    bottom: 0;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    .card__item {
      display: flex;
      flex-direction: column; 
      align-items: center; 
      justify-content: center; 
      height: 100%;
      text-align: center;
      padding: 0 20px;
        a{
            color: white;
            font-size: 50px;
            margin-bottom: 10px;
        }
        p{
            text-transform: uppercase;
            font-size: 15px;
        }
    }
  }
}
