.duties {
  .wrapper{
    @apply ml-16 w-2/3 pt-8;

  }
  &__article {
    h1 {
      font-size: 30px;
      margin-bottom: 24px;
    }
    h2 {
      font-size: 24px;
      margin-bottom: 12px;
    }
    &-img {
      margin-bottom: 25px;
    }
    &-body {
      font-size: 14px;
      margin-bottom: 25px;
    }
  }
  &__block {
    @apply flex;
    &-item {

      .title {
        a{

            color: #2a8a15;
            font-size: 24px;
            font-weight: bold;
            &:hover{
                background-color:#2a8a15;
                color: white;
            }
        }
      }
      .paragraph {
        font-size: 14px;
        margin-bottom: 25px;
      }
      .list {
        ul{
          line-height: 20px;
        }
        &__item {
          a {
            color: #2a8a15;
            &:hover{
                background-color:#2a8a15;
                color: white;
            }
          }
        }
      }
    }
  }
}
@media all and (max-width: 390px){
  .duties {
    .wrapper{
      @apply m-0 w-full p-4;

    }
    &__article {
      h1 {
        // font-size: 30px;
        // margin-bottom: 24px;
      }
      h2 {
       
      }
      &-img {
        // margin-bottom: 25px;
      }
      &-body {
        // font-size: 14px;
        // margin-bottom: 25px;
      }
    }
    &__block {
      @apply flex flex-col;
      &-item {
        @apply pl-0 ;
        .title {
          a{
  
              color: #2a8a15;
              font-size: 24px;
              font-weight: bold;
              &:hover{
                  background-color:#2a8a15;
                  color: white;
              }
          }
        }
        .paragraph {
          font-size: 14px;
          margin-bottom: 25px;
        }
        .list {
          ul{
            line-height: 20px;
          }
          &__item {
            a {
              color: #2a8a15;
              &:hover{
                  background-color:#2a8a15;
                  color: white;
              }
            }
          }
        }
      }
    }
  }
}
@media all and (max-width: 768px) and (min-width: 391px){
  .duties {
    .wrapper{
      @apply m-0 w-full p-4;

    }
    &__article {
      h1 {
        // font-size: 30px;
        // margin-bottom: 24px;
      }
      h2 {
       
      }
      &-img {
        // margin-bottom: 25px;
      }
      &-body {
        // font-size: 14px;
        // margin-bottom: 25px;
      }
    }
    &__block {
      @apply flex flex-col;
      &-item {
        @apply pl-0 ;
        .title {
          a{
  
              color: #2a8a15;
              font-size: 24px;
              font-weight: bold;
              &:hover{
                  background-color:#2a8a15;
                  color: white;
              }
          }
        }
        .paragraph {
          font-size: 14px;
          margin-bottom: 25px;
        }
        .list {
          ul{
            line-height: 20px;
          }
          &__item {
            a {
              color: #2a8a15;
              &:hover{
                  background-color:#2a8a15;
                  color: white;
              }
            }
          }
        }
      }
    }
  }
}
@media all and (max-width: 1024px) and (min-width: 769px){
  .duties {
    .wrapper{
      @apply m-0 w-full p-5;
  
    }
    &__article {
      h1 {
        font-size: 30px;
        margin-bottom: 24px;
      }
      h2 {
        font-size: 24px;
        margin-bottom: 12px;
      }
      &-img {
        margin-bottom: 25px;
      }
      &-body {
        font-size: 14px;
        margin-bottom: 25px;
      }
    }
    &__block {
      @apply flex;
      &-item {
        @apply w-1/2;
        .title {
          a{
  
              color: #2a8a15;
              font-size: 24px;
              font-weight: bold;
              &:hover{
                  background-color:#2a8a15;
                  color: white;
              }
          }
        }
        .paragraph {
          font-size: 14px;
          margin-bottom: 25px;
        }
        .list {
          ul{
            line-height: 20px;
          }
          &__item {
            a {
              color: #2a8a15;
              &:hover{
                  background-color:#2a8a15;
                  color: white;
              }
            }
          }
        }
      }
    }
  }
}
