.shops {
  &__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  &__img {
    margin-bottom: 25px;
  }
  &__article {
    padding: 0 20px;
    &-head {
      a {
        font-size: 24px;
        font-weight: bold;
        color: #2a8a15;
        &:hover {
          background-color: #2a8a15;
          color: white;
        }
      }
    }
    &-body {
      font-size: 14px;
      margin-bottom: 25px;
    }
    &-more {
        span{
            font-size: 14px;
        }
      a {
        color: #2a8a15;
        font-size: 14px;
        &:hover {
          background-color: #2a8a15;
          color: white;
        }
      }
      margin-bottom: 25px;
    }
  }
}
